<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus Dados:</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <span class="help-block pull-righ has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i
              class="fa fa-remove"> Email-s não conferem</i></span>
        </div>

        <div class="col-sm-6 col-xs-12">
          <mt-input-contaner errorMessage="Campo obrigatório e com 5 caracteres" label="Nome">
            <input formControlName="name" type="text" class="form-control" id="inputSuccess" placeholder="Nome"
              autocomplete="false">
          </mt-input-contaner>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-contaner errorMessage="E-mail inválido" label="E-mail">
            <input formControlName="email" type="text" class="form-control" id="inputSuccess" placeholder="E-mail"
              autocomplete="false">
          </mt-input-contaner>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-contaner errorMessage="E-mail inválido" label="E-mail">
            <input formControlName="emailConfirmation" type="text" class="form-control" id="inputSuccess"
              placeholder="Confirmação do e-mail" autocomplete="false">
          </mt-input-contaner>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-contaner errorMessage="Campo obrigatório e com 5 caracteres" label="Endereço">
            <input formControlName="address" type="text" class="form-control" id="inputSuccess" placeholder="Endereço"
              autocomplete="false">
          </mt-input-contaner>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-contaner errorMessage="Obrigagório e somente números" label="Número">
            <input formControlName="number" type="text" class="form-control" id="inputSuccess" placeholder="Número"
              autocomplete="false">
          </mt-input-contaner>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-contaner>
            <input formControlName="optionalAddress" type="text" class="form-control" id="inputSuccess"
              placeholder="Complemento">
          </mt-input-contaner>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-order-items [items]="cartItems()" (increaseQty)="increaseQty($event)" (decreaseQty)="decreaseQty($event)"
          (remove)="remove($event)"></mt-order-items>
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="paymentOptions" formControlName="paymentOption" required></mt-radio>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()"></mt-delivery-costs>
        </div>
        <!-- /.col -->
      </div>
      <p>
        order works!
      </p>
    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="checkOrder(orderForm.value)" href="order-summary.html" class="btn btn-success pull-right"
          [disabled]="orderForm.invalid || cartItems().length === 0"><i class="fa fa-credit-invalid"></i> Concluir
          Pedido
        </button>
      </div>
    </div>

  </section>
</section>
